src/main/resources/org/springframework/integration/disruptor/config/spring-integration-disruptor-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.springframework.org/schema/integration/disruptor"
	xmlns:integration="http://www.springframework.org/schema/integration"
	targetNamespace="http://www.springframework.org/schema/integration/disruptor"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.springframework.org/schema/integration"
		schemaLocation="http://www.springframework.org/schema/integration/spring-integration-2.1.xsd" />

	<xs:element name="channel">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="integration:channelType">
					<xs:sequence>
						<xs:element name="ring-buffer" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:attribute name="size" type="xs:positiveInteger" default="32"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
